<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

    <div th:fragment="pager(pager)">
        <ul class="pager" th:if="${pager.available}">
            <li>
                <button class="btn btn-default" th:href="'/?url=' + ${pager.first?.href}" data-toggle="tooltip" data-placement="top" data-delay="750" title="First Page" th:disabled="${pager.first == null}">
                    <span class="glyphicon glyphicon-fast-backward"></span>
                </button>
            </li>
            <li>
                <button class="btn btn-default" th:href="'/?url=' + ${pager.prev.href}" data-toggle="tooltip" data-placement="top" data-delay="750" title="Previous Page" th:disabled="${pager.prev == null}">
                    <span class="glyphicon glyphicon-backward"></span>
                </button>
            </li>
            <li>
                <button class="btn btn-default" th:href="'/?url=' + ${pager.next.href}" data-toggle="tooltip" data-placement="top" data-delay="750" title="Next Page" th:disabled="${pager.next == null}">
                    <span class="glyphicon glyphicon-forward"></span>
                </button>
            </li>
            <li>
                <button class="btn btn-default" th:href="'/?url=' + ${pager.last.href}" data-toggle="tooltip" data-placement="top" data-delay="750" title="Last Page" th:disabled="${pager.last == null}">
                    <span class="glyphicon glyphicon glyphicon-fast-forward"></span>
                </button>
            </li>
        </ul>
    </div>

    <div th:fragment="attrTable(customAttributes)">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="attr : ${customAttributes.entrySet()}">
                <td th:text="${attr.getKey()}">key...</td>
                <td><pre><code th:text="${attr.getValue()}">some json</code></pre></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:fragment="linkTable(links)">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Rel</th>
                <th>Title</th>
                <th>Name</th>
                <th>Type</th>
                <th>Href</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="link : ${links}">
                <div th:include="fragments/browserFragments :: linkRow(${link})"></div>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:fragment="linkRow(link)">
            <tr>
                <td>
                    <a class="btn btn-default"
                       role="button"
                       data-toggle="tooltip"
                       data-placement="right"
                       th:title="${link.relDesc}"
                       th:href="${link.relHref}"
                       th:if="${!#strings.isEmpty(link.relHref)}">
                        <span class="glyphicon glyphicon-book" ></span>&nbsp;
                        <span th:text="${link.rel}">rel</span>
                    </a>
                    <!--
                    <button type="button"
                            class="btn btn-default"
                            data-toggle="popover"
                            data-placement="bottom"
                            title="href"
                            th:attr="data-content=${link.href}">
                        Show <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </button>
                    -->

                    <button type="button"
                            class="btn btn-default"
                            disabled="disabled"
                            th:if="${#strings.isEmpty(link.relHref)}">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                        <span th:text="${link.rel}">rel</span>
                    </button>
                </td>
                <td>
                    <span th:text="${link.title}"></span>
                </td>
                <td>
                    <span th:text="${link.name}"></span>
                </td>
                <td>
                    <span th:text="${link.type}"></span>&nbsp;
                    <a class="btn btn-default"
                       role="button"
                       th:href="${link.profile}"
                       th:if="${!#strings.isEmpty(link.profile)}">
                        <span class="glyphicon glyphicon-book" ></span>
                    </a>&nbsp;
                </td>
                <td>
                    <p class="form-control-static" th:text="${link.href}">href</p>
                    <a class="btn btn-primary"
                       role="button"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       th:title="${link.href}"
                       th:href="'/?url=' + ${link.href}"
                       th:if="${!link.templated}">
                        GET<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                    <form action="/"
                          method="POST"
                          th:if="${link.templated}">
                        <div class="form-group row" th:each="hrefParam : ${link.hrefParams}">
                            <label th:for="${hrefParam.key}" class="col-md-2 col-form-label" th:text="${hrefParam.key} + ':'">param</label>
                            <div class="col-md-10">
                                <input  class="form-control-sm" type="text" th:required="${hrefParam.required}" th:name="${hrefParam.key}"></input>
                            </div>
                        </div>
                        <input hidden="hidden" name="url" th:value="${link.href}" />
                        <button type="submit"
                                class="btn btn-primary"
                                th:title="${link.href}">
                            GET <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </button>
                    </form>
                </td>
            </tr>
    </div>
</body>
</html>
