<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

    <div th:fragment="links-panel(linkTabs)">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Links
                </h3>
                <ul class="list-inline panel-actions">
                    <li>
                        <a class="toggle-fullscreen" href="#" role="button" title="Toggle Fullscreen">
                            <span class="glyphicon glyphicon-resize-full"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="links-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default"  th:each="linkTab : ${linkTabs}">
                        <div class="panel-heading" role="tab" th:id="'collapse-rel-heading-' + ${linkTab.id}">
                            <h3 class="panel-title">
                                <a role="button"
                                   data-toggle="collapse"
                                   data-parent="#links-accordion"
                                   th:href="'#collapse-rel-' + ${linkTab.id}"
                                   aria-expanded="true"
                                   th:attr="aria-controls='collapse-rel-' + ${linkTab.id}">
                                    <span class="glyphicon glyphicon-triangle-bottom"></span> <span th:text="${linkTab.linkRelation.rel}"></span>
                                </a>
                            </h3>
                            <ul class="list-inline panel-actions" th:if="${!#strings.isEmpty(linkTab.linkRelation.href)}">
                                <li>
                                    <a th:href="${linkTab.linkRelation.href}"
                                       role="button"
                                       target="_blank"
                                       data-toggle="tooltip"
                                       data-placement="left"
                                       th:title="${linkTab.linkRelation.description}">
                                        <span class="glyphicon glyphicon-question-sign"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div th:id="'collapse-rel-' + ${linkTab.id}"
                             class="panel-collapse collapse"
                             th:classappend="${linkTab.index == 0} ? 'in' : ''"
                             role="tabpanel" th:attr="aria-labelledby='collapse-rel-heading-' + ${linkTab.id}">
                            <div class="panel-body">
                                <div th:include="fragments/links :: linkTable(${linkTab.links})"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div th:fragment="linkTable(links)">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-xs-2">Title</th>
                <th class="col-xs-1">Name</th>
                <th class="col-xs-3">Type</th>
                <th class="col-xs-6">Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="link : ${links}">
                <div th:include="fragments/links :: linkRow(${link})"></div>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:fragment="linkRow(link)">
            <tr>
                <td>
                    <span th:text="${link.title}"></span>
                </td>
                <td>
                    <span th:text="${link.name}"></span>
                </td>
                <td>
                    <span th:if="${!#strings.isEmpty(link.type)}">
                        <label th:for="'link-type-'+${link.id}" class="col-form-label-md">Mediatype:</label>
                        <div>
                            <span th:id="'link-type-'+${link.id}" class="form-control-md" th:text="${link.type}">href</span>
                        </div>
                    </span>
                    <span th:if="${!#strings.isEmpty(link.profile)}">
                        <label th:for="'link-profile-'+${link.id}" class="col-form-label">Profile:</label>
                        <div>
                            <a role="link"
                               target="_blank"
                               class="form-control-md"
                               th:id="'link-profile-'+${link.id}"
                               th:href="${link.profile}">
                                <span style="white-space:nowrap;">
                                    <span class="glyphicon glyphicon-new-window"></span>
                                    <span th:text="${link.profile}"></span>
                                </span>
                            </a>
                        </div>
                    </span>
                </td>
                <td>
                    <a class="btn btn-primary"
                       role="button"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       th:title="${link.href}"
                       th:href="'/?url=' + ${link.href}"
                       th:if="${!link.templated}">
                        GET<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                    <form action="/"
                          method="POST"
                          th:if="${link.templated}">
                        <input hidden="hidden" name="url" th:value="${link.href}" />
                        <div class="form-group row">
                            <label for="link-href" class="col-md-2 col-form-label">href:</label>
                            <div class="col-md-10">
                                <span id="link-href" th:text="${link.href}">href</span>
                            </div>
                        </div>
                        <div class="form-group row" th:each="hrefParam : ${link.hrefParams}">
                            <label th:for="${hrefParam.key}" class="col-md-2 col-form-label" th:text="${hrefParam.key} + ':'">param</label>
                            <div class="col-md-10">
                                <input  class="form-control-sm" type="text" th:required="${hrefParam.required}" th:name="${hrefParam.key}"></input>
                            </div>
                        </div>
                        <button type="submit"
                                class="btn btn-primary"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                th:title="${link.href}">
                            GET <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </button>
                    </form>
                </td>
            </tr>
    </div>
</body>
</html>
