<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

<div class="container-fluid">
    <!-- Self Panel + Open Panel -->
    <div class="row">
        <!-- Open Panel -->
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Open</h3>
                </div>
                <div class="panel-body">
                    <form action="/" method="POST">
                        <div class="form-group row">
                            <label for="url-input" class="col-md-1 col-form-label">URL</label>
                            <div class="col-md-11">
                                <input class="form-control" name="url" type="url" autofocus="autofocus" th:value="${currentUrl}" id="url-input"></input>
                            </div>
                        </div>
                    </form>
                    <div th:include="fragments/browserFragments :: pager(${pager})"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Attr Panel + Links Panel -->
    <div class="row">
        <div class="col-lg-4">
            <!-- Self Panel -->
            <div class="row" th:if="${self != null}">
                <div class="col-xs-12">
                    <div class="panel panel-default" th:if="${self != null}">
                        <div class="panel-heading">
                            <h3 class="panel-title">Self</h3>
                            <ul class="list-inline panel-actions" th:if="${!#strings.isEmpty(self.linkRelation.href)}">
                                <li>
                                    <a th:href="${self.linkRelation.href}"
                                       role="button"
                                       target="_blank"
                                       data-toggle="tooltip"
                                       data-placement="left"
                                       th:title="${self.linkRelation.description}">
                                        <span class="glyphicon glyphicon-question-sign"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group row">
                                <label for="self-url" class="col-xs-2 col-form-label">Href</label>
                                <div class="col-xs-10">
                                    <span id="self-url" th:text="${self.link.href}">href</span>
                                </div>
                            </div>
                            <div class="form-group row" th:if="${!#strings.isEmpty(self.link.title)}">
                                <label for="self-title" class="col-xs-2 col-form-label">Title</label>
                                <div class="col-xs-10">
                                    <span id="self-title" th:text="${self.link.title}">title</span>
                                </div>
                            </div>
                            <div class="form-group row" th:if="${!#strings.isEmpty(self.link.type)}">
                                <label for="self-type" class="col-xs-2 col-form-label">Type</label>
                                <div id="self-type" class="col-xs-10">
                                    <span th:text="${self.link.type}"></span>
                                </div>
                            </div>
                            <div class="form-group row" th:if="${!#strings.isEmpty(self.link.profile)}">
                                <label for="self-profile" class="col-xs-2 col-form-label">Profile</label>
                                <div id="self-profile" class="col-xs-10">
                                    <a role="link"
                                       target="_blank"
                                       th:href="${self.link.profile}"
                                       th:if="${!#strings.isEmpty(self.link.profile)}">
                                        <span class="glyphicon glyphicon-new-window" ></span>&nbsp;<span th:text="${self.link.profile}">Profile</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Curies Panel -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Curies</h3>
                            <ul class="list-inline panel-actions" th:if="${!#strings.isEmpty(curiTab.linkRelation.href)}">
                                <li>
                                    <a th:href="${curiTab.linkRelation.href}"
                                       role="button"
                                       target="_blank"
                                       data-toggle="tooltip"
                                       data-placement="left"
                                       th:title="${curiTab.linkRelation.description}">
                                        <span class="glyphicon glyphicon-question-sign"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="row" th:each="curi : ${curiTab. links}">
                                <div class="col-xs-4">
                                    <label th:for="'curi-name-' + curiTab.id">Name</label>
                                    <div>
                                        <span th:id="'curi-name-' + curiTab.id" th:text="${curi.name}">name</span>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <label th:for="'curi-title-' + curiTab.id">Href</label>
                                    <div>
                                        <span th:id="'curi-title-' + curiTab.id" th:text="${curi.href}">href</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Attr Panel -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Custom Attributes</h3>
                            <ul class="list-inline panel-actions">
                                <li>
                                    <a id="panel-attr-fullscreen" href="#" role="button" title="Toggle Fullscreen">
                                        <i class="glyphicon glyphicon-resize-full"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div th:include="fragments/browserFragments :: attrTable(${customAttributes})"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Links Panel -->
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                         Links
                    </h3>
                    <ul class="list-inline panel-actions">
                        <li>
                            <a th:id="panel-links-fullscreen" href="#" role="button" title="Toggle Fullscreen">
                                <span class="glyphicon glyphicon-resize-full"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="panel-group" id="links-accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default"  th:each="linkTab : ${linkTabs}">
                            <div class="panel-heading" role="tab" th:id="'collapse-rel-heading-' + ${linkTab.id}">
                                <h3 class="panel-title">
                                    <a role="button"
                                       data-toggle="collapse"
                                       data-parent="#links-accordion"
                                       th:href="'#collapse-rel-' + ${linkTab.id}"
                                       aria-expanded="true"
                                       th:attr="aria-controls='collapse-rel-' + ${linkTab.id}">
                                        <span class="glyphicon glyphicon-triangle-bottom"></span> <span th:text="${linkTab.linkRelation.rel}"></span>
                                    </a>
                                </h3>
                                <ul class="list-inline panel-actions" th:if="${!#strings.isEmpty(linkTab.linkRelation.href)}">
                                    <li>
                                        <a th:href="${linkTab.linkRelation.href}"
                                           role="button"
                                           target="_blank"
                                           data-toggle="tooltip"
                                           data-placement="left"
                                           th:title="${linkTab.linkRelation.description}">
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div th:id="'collapse-rel-' + ${linkTab.id}"
                                 class="panel-collapse collapse"
                                 th:classappend="${linkTab.index == 0} ? 'in' : ''"
                                 role="tabpanel" th:attr="aria-labelledby='collapse-rel-heading-' + ${linkTab.id}">
                                <div class="panel-body">
                                    <div th:include="fragments/browserFragments :: linkTable(${linkTab.links})"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/tooltip.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('a[data-toggle=tooltip]').tooltip();
        $('button[data-toggle=tooltip]').tooltip();
    });
</script>
<script>
    //Toggle fullscreen
    var toggleFullScreen = function (e) {
        e.preventDefault();
        var $this = $(this);

        if ($this.children('i').hasClass('glyphicon-resize-full'))
        {
            $this.children('i').removeClass('glyphicon-resize-full');
            $this.children('i').addClass('glyphicon-resize-small');
        }
        else if ($this.children('i').hasClass('glyphicon-resize-small'))
        {
            $this.children('i').removeClass('glyphicon-resize-small');
            $this.children('i').addClass('glyphicon-resize-full');
        }
        $(this).closest('.panel').toggleClass('panel-fullscreen');
        $(this).closest('.panel').collapse("show");
    };
    $(document).ready(function () {
        $("#panel-attr-fullscreen").click(toggleFullScreen);
        $("#panel-links-fullscreen").click(toggleFullScreen);
    });
</script>
</body>
</html>