<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-3" th:if="${self != null}">
            <div class="panel panel-default" th:if="${self != null}">
                <div class="panel-heading">
                    <h3 class="panel-title">Self</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <label for="url-self" class="col-md-2 col-form-label">Href</label>
                        <div class="col-md-10">
                            <span id="url-self" th:text="${self.href}">href</span>
                        </div>
                    </div>
                    <div class="form-group row" th:if="${!#strings.isEmpty(self.title)}">
                        <label for="title-self" class="col-md-2 col-form-label">Title</label>
                        <div class="col-md-10">
                            <span id="title-self" th:text="${self.title}">title</span>
                        </div>
                    </div>
                    <div class="form-group row" th:if="${!#strings.isEmpty(self.type)}">
                        <label for="type-self" class="col-md-2 col-form-label">Type</label>
                        <div id="type-self" class="col-md-10">
                            <span th:text="${self.type}"></span>&nbsp;
                            <a class="btn btn-default"
                               role="button"
                               target="_blank"
                               th:href="${self.profile}"
                               th:if="${!#strings.isEmpty(self.profile)}">
                                <span class="glyphicon glyphicon-new-window" ></span>&nbsp;<span>Profile</span>
                            </a>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Open</h3>
                </div>
                <div class="panel-body">
                    <form action="/" method="POST">
                        <div class="form-group row">
                            <label for="url-input" class="col-md-1 col-form-label">URL</label>
                            <div class="col-md-11">
                                <input class="form-control" name="url" type="url" autofocus="autofocus" th:value="${currentUrl}" id="url-input"></input>
                            </div>
                        </div>
                    </form>
                    <div th:include="fragments/browserFragments :: pager(${pager})"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Custom Attributes</h3>
                    <ul class="list-inline panel-actions">
                        <li>
                            <a id="panel-attr-fullscreen" href="#" role="button" title="Toggle Fullscreen">
                                <i class="glyphicon glyphicon-resize-full"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div th:include="fragments/browserFragments :: attrTable(${customAttributes})"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a id="collapse-links-title" data-toggle="collapse" href="#collapse-links"><span class="glyphicon glyphicon-triangle-bottom"></span> Links</a>
                        </h3>
                        <ul class="list-inline panel-actions">
                            <li>
                                <a id="panel-links-fullscreen" href="#" role="button" title="Toggle Fullscreen">
                                    <i class="glyphicon glyphicon-resize-full"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="collapse-links" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div th:include="fragments/browserFragments :: linkTable(${links})"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/tooltip.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('a[data-toggle=tooltip]').tooltip();
        $('button[data-toggle=tooltip]').tooltip();
    });
</script>
<script>
    //Toggle fullscreen
    var toggleFullScreen = function (e) {
        e.preventDefault();
        var $this = $(this);

        if ($this.children('i').hasClass('glyphicon-resize-full'))
        {
            $this.children('i').removeClass('glyphicon-resize-full');
            $this.children('i').addClass('glyphicon-resize-small');
        }
        else if ($this.children('i').hasClass('glyphicon-resize-small'))
        {
            $this.children('i').removeClass('glyphicon-resize-small');
            $this.children('i').addClass('glyphicon-resize-full');
        }
        $(this).closest('.panel').toggleClass('panel-fullscreen');
        $(this).closest('.panel').collapse("show");
    };
    $(document).ready(function () {
        $("#panel-attr-fullscreen").click(toggleFullScreen);
        $("#panel-links-fullscreen").click(toggleFullScreen);
    });
</script>
</body>
</html>