<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-10">
            <div class="jumbotron">
                <h1>Open Resource</h1>
                <p th:if="${error == null}">Enter the URL of some HAL+JSON resource:</p>
                <p th:if="${error != null}" class="alert alert-danger">
                    <span th:text="${error}"></span>
                    <br/>
                    <span>Please check the URL again:</span>
                </p>
                <form th:action="@{/}" method="POST">
                    <div class="form-group">
                        <label for="url">URL</label>
                        <input name="url" type="url" required="required" class="form-control" id="url" autofocus="autofocus" placeholder="http://" th:value="${currentUrl}"/>
                    </div>
                    <button type="submit"
                            class="btn btn-primary">
                        Submit <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-xs-1">&nbsp;</div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>