<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

<div class="container-fluid">
    <!-- Open Panel -->
    <div class="row">
        <!-- Open Panel -->
        <div class="col-xs-12">
            <div th:include="fragments/open-resource :: open-resource-panel(${pager})"></div>
        </div>
    </div>

    <!-- HTTP Response -->
    <div class="row">
        <div class="col-xs-12">
            <div th:include="fragments/http-response :: http-response-panel(${response})"></div>
        </div>
    </div>

    <!-- Self-, Attr- + Links Panel -->
    <div class="row">
        <div class="col-lg-4">
            <!-- Self Panel -->
            <div class="row" th:if="${self != null}">
                <div class="col-xs-12">
                    <div th:include="fragments/self :: self-panel(${self})"></div>
                </div>
            </div>
            <!-- Curies Panel -->
            <div class="row">
                <div class="col-xs-12">
                    <div th:include="fragments/curies :: curies-panel(${curiTab})"></div>
                </div>
            </div>
            <!-- Attr Panel -->
            <div class="row">
                <div class="col-xs-12">
                    <div th:include="fragments/attributes :: attributes-panel(${customAttributes})"></div>
                </div>
            </div>
        </div>
        <!-- Links Panel -->
        <div class="col-lg-8">
            <div th:include="fragments/links :: links-panel(${linkTabs})"></div>
        </div>
    </div>

    <!-- Embedded Panel -->
    <div class="row" th:each="embeddedTab : ${embeddedTabs}">
        <div class="col-xs-12">
            <div class="panel-group" id="embedded-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" th:each="item: ${embeddedTab.items}">
                    <div class="panel-heading" role="tab">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" th:href="'#collapse-embedded-' + ${item.index}">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                                <span th:text="${embeddedTab.linkRelation.rel} + '[' + ${item.index} + ']'"></span>
                                <small>Embedded</small>
                            </a>
                        </h3>
                        <ul class="list-inline panel-actions">
                            <li>
                                <a class="toggle-fullscreen"
                                   href="#"
                                   role="button"
                                   title="Toggle Fullscreen">
                                    <span class="glyphicon glyphicon-resize-full"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div th:id="'collapse-embedded-' + ${item.index}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div th:include="fragments/attributes :: attributes-panel(${item.customAttributes})"></div>
                                </div>
                                <div class="col-md-8">
                                    <div th:include="fragments/links :: links-panel(${item.linkTabs})"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/tooltip.js"></script>
<script type="text/javascript"
        src="/js/init-tooltip.js"></script>
<script type="text/javascript"
        src="/js/init-fullscreen.js"></script>
</body>
</html>