<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

<div class="container-fluid">
    <!-- Open Panel -->
    <div class="row">
        <!-- Open Panel -->
        <div class="col-xs-12">
            <div th:include="fragments/open-resource :: open-resource-panel(${pager})"></div>
        </div>
    </div>

    <!-- HTTP Response -->
    <div class="row">
        <div class="col-xs-12">
            <div th:include="fragments/http-response :: http-response-panel(${response})"></div>
        </div>
    </div>

    <!-- Self-, Attr- + Links Panel -->
    <div class="row">
        <div class="col-lg-4">
            <!-- Self Panel -->
            <div class="row" th:if="${self != null}">
                <div class="col-xs-12">
                    <div th:include="fragments/self :: self-panel(${self})"></div>
                </div>
            </div>
            <!-- Curies Panel -->
            <div class="row">
                <div class="col-xs-12">
                    <div th:include="fragments/curies :: curies-panel(${curiTab})"></div>
                </div>
            </div>
            <!-- Attr Panel -->
            <div class="row">
                <div class="col-xs-12">
                    <div th:include="fragments/attributes :: attributes-panel(${customAttributes})"></div>
                </div>
            </div>
        </div>
        <!-- Links Panel -->
        <div class="col-lg-8">
            <div th:include="fragments/links :: links-panel(${linkTabs})"></div>
        </div>
    </div>

    <!-- Embedded Panel -->
    <div class="row" th:if="${embeddedTabs != null}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Embedded
                </h3>
                <ul class="list-inline panel-actions">
                    <li>
                        <a id="panel-embedded-fullscreen" href="#" role="button" title="Toggle Fullscreen">
                            <span class="glyphicon glyphicon-resize-full"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="embedded-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default"  th:each="embeddedTab : ${embeddedTabs}">
                        <div class="panel-heading" role="tab" th:id="'collapse-embedded-heading-' + ${embeddedTab.id}">
                            <h3 class="panel-title">
                                <a role="button"
                                   data-toggle="collapse"
                                   data-parent="#embedded-accordion"
                                   th:href="'#collapse-embedded-' + ${embeddedTab.id}"
                                   aria-expanded="true"
                                   th:attr="aria-controls='collapse-embedded-' + ${embeddedTab.id}">
                                    <span class="glyphicon glyphicon-triangle-bottom"></span> <span th:text="${embeddedTab.linkRelation.rel}"></span>
                                </a>
                            </h3>
                            <ul class="list-inline panel-actions" th:if="${!#strings.isEmpty(embeddedTab.linkRelation.href)}">
                                <li>
                                    <a th:href="${linkTab.linkRelation.href}"
                                       role="button"
                                       target="_blank"
                                       data-toggle="tooltip"
                                       data-placement="left"
                                       th:title="${linkTab.linkRelation.description}">
                                        <span class="glyphicon glyphicon-question-sign"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div th:id="'collapse-rel-' + ${embeddedTab.id}"
                             class="panel-collapse collapse"
                             th:classappend="${embeddedTab.index == 0} ? 'in' : ''"
                             role="tabpanel" th:attr="aria-labelledby='collapse-embedded-heading-' + ${embeddedTab.id}">
                            <div class="panel-body">
                                <!-- body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/tooltip.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('a[data-toggle=tooltip]').tooltip();
        $('button[data-toggle=tooltip]').tooltip();
    });
</script>
<script>
    //Toggle fullscreen
    var toggleFullScreen = function (e) {
        e.preventDefault();
        var $this = $(this);

        if ($this.children('span').hasClass('glyphicon-resize-full'))
        {
            $this.children('span').removeClass('glyphicon-resize-full');
            $this.children('span').addClass('glyphicon-resize-small');
        }
        else if ($this.children('span').hasClass('glyphicon-resize-small'))
        {
            $this.children('span').removeClass('glyphicon-resize-small');
            $this.children('span').addClass('glyphicon-resize-full');
        }
        $(this).closest('.panel').toggleClass('panel-fullscreen');
    };
    $(document).ready(function () {
        $("#panel-attr-fullscreen").click(toggleFullScreen);
        $("#panel-links-fullscreen").click(toggleFullScreen);
        $("#panel-embedded-fullscreen").click(toggleFullScreen);
        $("#panel-response-fullscreen").click(function(e) {
            $("#collapse-http").collapse("show");
        });
        $("#panel-response-fullscreen").click(toggleFullScreen);
        $("#panel-response-headers-fullscreen").click(toggleFullScreen);
        $("#panel-response-body-fullscreen").click(toggleFullScreen);
    });
</script>
</body>
</html>